{% extends "base.html" %}

{% block content %}

<body>

<div class="container mt-5">

<h2>Edit Student</h2>


<form method="POST">


<div class="mb-3">

<label>Name</label>

<input 
type="text"
name="name"
class="form-control"
value="{{ student.name }}">

</div>



<div class="mb-3">

<label>Age</label>

<input 
type="number"
name="age"
class="form-control"
value="{{ student.age }}">

</div>



<div class="mb-3">

<label>Branch</label>

<input 
type="text"
name="branch"
class="form-control"
value="{{ student.branch }}">

</div>



<div class="mb-3">

<label>Email</label>

<input 
type="email"
name="email"
class="form-control"
value="{{ student.email }}">

</div>



<button class="btn btn-success">
Update Student
</button>


</form>


</div>

{% endblock %done ch}